h2{
    background-color: azure;
}
.container-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background-color: aquamarine;
    height: 30px;
}
.container-navbar{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    column-gap: 40px;

}